<strong>Olá, {{ deliveryman }}</strong>
<p> O produto {{ product }} já está disponível para a retirada.</p>
<p>
  <strong>Destinatário: </strong> {{ recipientName }} <br />
  <strong>Endereço: </strong> {{ address }}
  <br />
  <br />
  <small>
    o Horário de retirada é entre 8:00/18:00
  </small>
</p>
